header#main-dev {
    height: 60px;
    background-color: #0B243B;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center
}